body  {
	background: #F1F5F2;
}
.searchmatch{
	background: white ;
	color: #D81159;
}

li{
	border: solid white 1px;
	margin: 2% auto;
	width: 70%;
	color: white;
	background-color: #D81159;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	   		 0px 8px 13px rgba(0,0,0,0.1),
			 0px 18px 23px rgba(0,0,0,0.1);

	padding: 2%;
}

ul {
	list-style-type: none;
	margin: 0;
	border: none;
}

.title{
	font-weight: 700;
	font-size: 1.2em;
}


li:hover {
   	border-left: 8px solid white;
	margin: 2% auto;
	width: 70%;
	background-color: #D81159;
}

input {
	display:block;
	margin: 0 auto;
	outline-color: #D81159;
	font-size: 2em;
}

a:hover{
	color:white;
	text-decoration: none;
	background-color:blue;

	//none;
}

link:hover {
	none;
	color red;
}

h1 {
	font-size: 4rem;
	color: #D81159;
	text-align: center;
	padding: 5% 0;
	font-family: "Bellefair";
	text-decoration: underline;
}

.text{
	text-align: center;
}